.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login__button {
  border: 1px solid;
  border-color: #a99734 #9c7e31 #846a29;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #f0c14b;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border: 1px solid black;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__container > button {
  border-color: darkgray;
  background-color: rgb(234, 237, 237);
}

.login__loader {
  padding: 35px;
  color: #f0c14b;
}
